*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 3000px;
}
header {
  font-size: 20px;
  background-color: aquamarine;
  padding: 10px;
  height: 40px;
}
h1 {
  margin: 0;
  font-size: inherit;
  float: left;
  width: 50%;
}

nav {
  position: sticky;
  width: 100%;
  top: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  width: 25%;
  float: left;
}

nav ul li > a {
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid red;
  text-decoration: none;
  color: white;
  background-color: lightcoral;
}

nav ul li > a:hover {
  color: green;
  background-color: aqua;
}

.sales_number {
  float: right;
  text-align: right;
  width: 50%;
}

section {
  width: 50%;
  float: left;
}

img {
  width: 100px;
  float: left;
}

.clear {
  clear: both;
}
